<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055987465154-tp5bqtogbcelif8ogu2sn3mlv9dq25mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055987465154-tp5bqtogbcelif8ogu2sn3mlv9dq25mv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1055987465154-1aa6cid3b9uemcb4be2diih2ethkedrt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAscOyQkhMiCFIFvlkluBDPPqktLT3Zcgo</string>
	<key>GCM_SENDER_ID</key>
	<string>1055987465154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodrigoleonel.auth</string>
	<key>PROJECT_ID</key>
	<string>flutter-main-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-main-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055987465154:ios:552a01425e2572478c745b</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-main-projects.firebaseio.com</string>
</dict>
</plist>